@import '~antd/dist/antd.css';
@import '~@ant-design/pro-layout/dist/layout.css';
@import '~@ant-design/pro-form/dist/form.css';
@import '~@ant-design/pro-descriptions/dist/descriptions.css';
@import '~@ant-design/pro-table/dist/table.css';
@import '~@ant-design/pro-card/dist/card.css';

.App {
  height: 100vh;
}

.content {
  background-color: white;
  padding: 10px;
}

.content-area {
  width: 100%;
  background-color: white;
  padding: 10px;
}

.loginStyle {
  background-color:#8ED3F9   ;
}

.bgStyle {
  background: rgba(255, 255, 255, 0.7);
  margin-top: 150px;
}

.light-row {
  background-color: rgb(227, 243, 242);
}

.dark-row {
  background-color: white;
}

.ant-upload-list-picture-card-container {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0 8px 8px 0;
  vertical-align: top;
}

.ant-pro-checkcard-disabled {
  background-color: #fff;
  border-color: #d9d9d9;
  cursor: not-allowed;
}

.ant-pro-card-body {
  padding: 0;
}
