### Gradle ###
HELP.md
.gradle
gradle/
!/gradle
!**/android/gradle
gradlew
!/gradlew
!**/android/gradlew
gradlew.bat
!/gradlew.bat
!**/android/gradlew.bat

### Node.js ###
node_modules/
package-lock.json
.pnp/
.pnp.js
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Product ###
**/*.log
/fs/
**/src/**/resources/public
bundle/
!**/src/main/**/bundle/
!**/src/test/**/bundle/
!**/src/App/**/bundle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/App/**/build/
out/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/App/**/out/
static/
!**/src/main/**/static/
!**/src/test/**/static/
!**/src/App/**/static/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
local.properties

### VS Code ###
.vscode/

### Misc ###
.DS_Store
*.jsbundle
/ios/Pods/
