.title {
  text-align: center;
  background: linear-gradient(180deg, #46BAEC 10%, #055579 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.labelStyle {
  text-indent: 10px;
  margin-bottom: 20px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  background-image: linear-gradient(to right, #267c86, #92ecf6);
  box-shadow: 0 0 8px #267c86;
}