.title {
  text-align: center;
  background: linear-gradient(180deg, #267c86 10%, #92ecf6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.labelStyle {
  text-indent: 10px;
  margin-bottom: 20px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  background-image: linear-gradient(to right, #267c86, #92ecf6);
  box-shadow: 0 0 8px #267c86;
}

.box {
  height: 70px;
  font-size: 24px;
  border: #2bddf1 solid 2px;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 10px;
  box-shadow: #2bddf1 0 0 4px;
}

.tableStyle {
  height: 300px;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.itemStyle {
  height: 80px;
  border: #2bddf1 solid 2px;
  box-shadow: #2bddf1 0 0 4px;
  margin-right: 8px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.hrStyle {
  border: 1px solid #2bddf1;
}

.listStyle {
  border: 1px solid #2bddf1;
  box-shadow: #2bddf1 0 0 4px;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
}